* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

#map {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: opacity 0.5s;
}

.back-button {
  z-index: -20;
  align-items: center;
  justify-content: center;
  top: 1rem;
  left: 1rem;
  display: flex;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  opacity: 0;
}

.back-button:hover {
  cursor: pointer;
  background-color: #77b3d4;
  color: #fff;
}

.back-button-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.increase-z-index-button {
  z-index: 99999;
  opacity: 1;
}

.display-map {
  z-index: 10 !important;
  opacity: 1 !important;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.preload {
  z-index: 1000;
}

.preload-finish {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.preload h3 {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  top: 60%;
}

.main-container {
  display: grid;
  position: relative;
  grid-template-columns: 1.5fr 5fr 2.5fr;
  background: linear-gradient(
    90deg,
    rgba(54, 64, 108, 1) 41%,
    rgba(17, 14, 60, 1) 92%
  );
}

.menu,
.display,
.forecast {
  color: #fff;
  text-align: center;
  border-right: 2px solid #4a537b;
}

.menu {
  padding: 3.2rem 2rem 3.2rem 3.2rem;
}

.app-name {
  font-size: 2.4rem;
  color: #c3c6d3;
}

.logo-icon {
  height: 2rem;
  width: 2rem;
  background-color: #c4e2ff;
  padding: 1.2rem;
  border-radius: 50%;
  color: #fff;
}

/* //////////////////////////////////////////////////// */
/* ********************MENU ITEMS********************* */
/* //////////////////////////////////////////////////// */

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-left: 1.2rem;
}

.logo-name {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 6.4rem;
  margin-left: 1.2rem;
}

.list-text {
  font-size: 2rem;
  color: #c3c6d3;
}

.list-icon {
  height: 2rem;
  width: 2rem;
}

.list-menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.map-button,
.calendar-button {
  transition: all 0.5s;
}

.map-button:hover,
.calendar-button:hover {
  cursor: pointer;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  padding: 0.8rem 1.4rem;
}

/* //////////////////////////////////////////////////// */
/* **********************DISPLAY*********************** */
/* //////////////////////////////////////////////////// */

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.2rem;
  row-gap: 4.2rem;
}

/* *********************SEARCH BAR********************** */
.search-bar {
  display: flex;
  align-self: start;
  gap: 0rem;
  grid-column: 1/-1;
  background-color: #9a97dc;
  position: relative;
  border-radius: 0.8rem;
  transition: all 0.5s;
}

.bottom-right-zero-br {
  border-radius: 0 0.8rem 0 0 !important;
}

.bottom-left-zero-br {
  border-radius: 0.8rem 0.8rem 0 0 !important;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.suggestions {
  list-style-type: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: -2rem 0 3rem rgba(0, 0, 0, 0.2);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.8rem;
}

.search {
  border: none;
  padding: 1.2rem;
  width: 100%;
  outline: none;
  transition: all 0.5s;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0 0.8rem 0.8rem 0;
  transition: all 0.5s;
  background-color: #9a97dc;
}

.auto-complete {
  border-radius: 0;
  transition: all 0.4s;
  background-color: #9a97dc;
  padding: 2rem 0;
  font-size: 1.8rem;
}

.auto-complete:last-child {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.auto-complete:hover {
  background: #6e6ea2 !important;
  cursor: pointer;
}

.search::placeholder {
  opacity: 0.5;
  color: #fff;
}

/********************* WEATHER INFO CARD *****************/
.info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.4rem;
  background-color: #ccc;
  grid-column: 1/-1;
  border-radius: 0.8rem;
  column-gap: 2.4rem;
  background-size: cover;
  color: #333;
  border: 0.3rem solid #b0cbe6;
}

.clear-sky {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/clear-sky.jpg");
}

.few-clouds {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/few-clouds.jpg");
}

.scattered-clouds {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/scattered-clouds.jpg");
}

.broken-clouds {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/broken-clouds.jpg");
}

.shower-rain {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/shower-rain.jpg");
}

.rain {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/rain.jpg");
}

.thunderstorm {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/thunderstorm.jpg");
}

.snow-fall {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/snow.jpg");
}

.mist-and-fog {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/mist.jpg");
}

.city-flex {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
  align-items: center;
}

.location-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.city-name {
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.month-time {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.temp-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 8.4rem;
}

.weather-status {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 1.6rem;
}

.weather-statistics {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.weather-statistics-icon {
  width: 2rem;
  height: 2rem;
}

.weather-statistics-value {
  font-size: 1.6rem;
  font-weight: 500;
}

.modify-icon-pressure {
  width: 3rem;
  height: 3rem;
}

.humidity-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-temperature {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
}

.temperature-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.chart-wrapper {
  padding: 1.2rem;
  background-color: none;
  border-radius: 0.8rem;
  /* background: rgba(56, 255, 255, 0.1); */
  background: rgba(213, 234, 255, 0.6);
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

/*********************INDIVIDUAL INFO CARD*****************/

.individual-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  grid-column: 1/-1;
}

.weather-vitals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: rgb(115, 110, 201);
  background: linear-gradient(
    90deg,
    rgba(115, 110, 201, 1) 0%,
    rgba(49, 58, 97, 1) 77%
  );
  padding: 2.4rem;
  border-radius: 0.8rem;
  align-items: center;
}

.weather-vitals-name,
.weather-vitals-value {
  font-size: 2.4rem;
  color: #0b0b13;
  font-weight: 500;
}

.weather-vitals-icon {
  width: 6.4rem;
  height: 6.4rem;
}

.fill-blue {
  fill: #0baeff;
}

.left {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

/* //////////////////////////////////////////////////// */
/* **********************FORECAST********************** */
/* //////////////////////////////////////////////////// */

.btn {
  background-color: #c4e2ff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.3);
}

.btn--left {
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

.carousel-title {
  position: relative;
  border-radius: 0.8rem;
}

.slide {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4.4rem;
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  right: 3.2rem;

  opacity: 0;
  transition: all 0.4s ease;
}

.slide:nth-child(2) {
  margin-bottom: -2rem;
}

.slide[data-active] {
  opacity: 1;
}

.forecast {
  padding: 3.2rem;
  position: relative;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #333;
}

.forecast ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.temp-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;

  background-color: #c4e2ff;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.temp-card-icon {
  width: 5.2rem;
  height: 5.2rem;
}

.curr-time,
.value {
  font-size: 1.6rem;
  font-weight: 500;
  color: #eee;
}

.daily-value {
  font-size: 1.2rem;
}

.value {
  margin-left: 1rem;
}

div[class^="swiperk"],
div[class*=" swiperk"] {
  margin-top: -3.2rem;
  margin-bottom: 2.4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* background-color: #74748f; */
  text-align: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1.6rem !important;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  box-shadow: 0 2.5rem 4.5rem rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.swiper-slide-overlay {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.4s;
}

.swiper-slide-overlay > * {
  transform: translateY(4rem);
  transition: transform 0.4s;
}

.swiper-slide-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.swiper-slide-overlay:hover > * {
  transform: translateY(0);
}

.description {
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 0px 1rem 1.4rem rgba(0, 0, 0, 0.6);
}

/* .swiper-button-next,
.swiper-button-prev {
  background-color: #c4e2ff !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
  border-radius: 50% !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
} */

/* .swiper-button-next1:hover,
.swiper-button-prev1:hover {
  color: white !important;
  background-color: red !important;
} */

div[class^="swiper-button-prev"]::after,
div[class*=" swiper-button-prev"]::after,
div[class^="swiper-button-next"]::after,
div[class*=" swiper-button-next"]::after {
  font-size: 1.6rem;
  font-weight: bold;
  stroke-width: 50%;
  color: #fff;
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

div[class^="swiper-button-next"]::after,
div[class*=" swiper-button-next"]::after {
  content: "next" !important;
}

div[class^="swiper-button-prev"]::after,
div[class*=" swiper-button-prev"]::after {
  content: "prev" !important;
}

div[class^="swiper-button-next"],
div[class*=" swiper-button-next"],
div[class^="swiper-button-prev"],
div[class*=" swiper-button-prev"] {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

div[class^="swiper-button-next"],
div[class*=" swiper-button-next"] {
  right: -3rem;
  left: auto;
}

.swiper-button-prev1,
.swiper-button-next1,
.swiper-button-prev4,
.swiper-button-next4 {
  top: 23% !important;
}

.swiper-button-prev2,
.swiper-button-next2,
.swiper-button-prev5,
.swiper-button-next5 {
  top: 55.5% !important;
}

.swiper-button-prev3,
.swiper-button-next3,
.swiper-button-prev6,
.swiper-button-next6 {
  top: 88% !important;
}

div[class^="swiper-button-prev"],
div[class*=" swiper-button-prev"] {
  left: -3rem;
  right: auto;
}

div[class^="swiper-button-prev"].swiper-button-disabled,
div[class*=" swiper-button-prev"].swiper-button-disabled,
div[class^="swiper-button-next"].swiper-button-disabled,
div[class*=" swiper-button-next"].swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* .swiper1,
.swiper2,
.swiper3,
.swiper4,
.swiper5,
.swiper6,
.swiper { */

.tertiary-subheading {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}
