* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
  animation: spin 0.5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1.5fr 5fr 2.5fr;
}

.menu,
.display,
.forecast {
  color: #fff;
  text-align: center;
  background-color: #fff;
  color: #1f1e31;
  border-right: 2px solid #eee;
  background-color: #fff;
}

.menu {
  padding: 3.2rem 2rem 3.2rem 3.2rem;
}

.app-name {
  font-size: 2.4rem;
}

.logo-icon {
  height: 2rem;
  width: 2rem;
  background-color: #c4e2ff;
  padding: 1.2rem;
  border-radius: 50%;
  color: #fff;
}

/* //////////////////////////////////////////////////// */
/* ********************MENU ITEMS********************* */
/* //////////////////////////////////////////////////// */

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-left: 1.2rem;
}

.logo-name {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 6.4rem;
  margin-left: 1.2rem;
}

.list-text {
  font-size: 1.6rem;
  color: #555;
}

.list-icon {
  height: 2rem;
  width: 2rem;
}

.list-menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* //////////////////////////////////////////////////// */
/* **********************DISPLAY*********************** */
/* //////////////////////////////////////////////////// */

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.2rem;
  row-gap: 4.2rem;
}

/* *********************SEARCH BAR********************** */
.search-bar {
  display: flex;
  align-self: start;
  gap: 0.6rem;
  grid-column: 1/-1;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: all 0.5s;
}

.search-icon:hover {
  background-color: #c4e2ff;
  color: #333;
  cursor: pointer;
}

.search {
  border: none;
  padding: 1.2rem;
  width: 100%;
  border-radius: 0.8rem;
  outline: none;
  transition: all 0.5s;
  font-size: 1.6rem;
  font-weight: 600;
  color: #777;
}

.search::placeholder {
  opacity: 0.5;
}

.search:focus {
  box-shadow: inset 0 0 0 3px #c4e2ff;
}

/********************* WEATHER INFO CARD *****************/
.info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.4rem;
  background-color: #ccc;
  grid-column: 1/-1;
  border-radius: 0.8rem;
  column-gap: 2.4rem;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/Clear-sky.png");
  background-size: cover;
  color: #333;
  border: 0.3rem solid #b0cbe6;
}

.city-flex {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
  align-items: center;
}

.location-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.city-name {
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.month-time {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.temp-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 8.4rem;
}

.weather-status {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 1.6rem;
}

.weather-statistics {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.weather-statistics-icon {
  width: 2rem;
  height: 2rem;
}

.weather-statistics-value {
  font-size: 1.6rem;
  font-weight: 500;
}

.modify-icon-pressure {
  width: 3rem;
  height: 3rem;
}

.humidity-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-temperature {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
}

.temperature-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.chart-wrapper {
  padding: 1.2rem;
  background-color: none;
  border-radius: 0.8rem;
  /* background: rgba(56, 255, 255, 0.1); */
  background: rgba(213, 234, 255, 0.6);
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

/*********************INDIVIDUAL INFO CARD*****************/

.individual-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  grid-column: 1/-1;
}

.weather-vitals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #ecf3f8;
  padding: 2.4rem;
  border-radius: 0.8rem;
  align-items: center;
}

.weather-vitals-name,
.weather-vitals-value {
  font-size: 2.4rem;
  color: #333;
}

.weather-vitals-icon {
  width: 6.4rem;
  height: 6.4rem;
}

.fill-blue {
  fill: #0baeff;
}

.left {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

/* //////////////////////////////////////////////////// */
/* **********************FORECAST********************** */
/* //////////////////////////////////////////////////// */

.btn {
  background-color: #c4e2ff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.3);
}

.btn--left {
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

.carousel-title {
  position: relative;
  border-radius: 0.8rem;
}

.slide {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4.4rem;
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  right: 3.2rem;

  opacity: 0;
  transition: all 0.4s ease;
}

.slide:nth-child(2) {
  margin-bottom: -2rem;
}

.slide[data-active] {
  opacity: 1;
}

.forecast {
  padding: 3.2rem;
  position: relative;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #333;
}

.forecast ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.temp-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;

  background-color: #c4e2ff;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.temp-card-icon {
  width: 5.2rem;
  height: 5.2rem;
}

.curr-time,
.value {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
}

.value {
  margin-left: 1rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #c4e2ff;
  text-align: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1.6rem !important;
}

/* .swiper-button-next,
.swiper-button-prev {
  background-color: #c4e2ff !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
  border-radius: 50% !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
} */

/* .swiper-button-next1:hover,
.swiper-button-prev1:hover {
  color: white !important;
  background-color: red !important;
} */

.swiper-button-next1:after,
.swiper-button-prev1:after,
.swiper-button-next2:after,
.swiper-button-prev2:after,
.swiper-button-next3:after,
.swiper-button-prev3:after,
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.6rem;
  font-weight: bold;
  stroke-width: 50%;
  color: #333;
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next1:after,
.swiper-button-next2:after,
.swiper-button-next3:after,
.swiper-button-next:after {
  content: "next" !important;
}

.swiper-button-prev1:after,
.swiper-button-prev2:after,
.swiper-button-prev3:after,
.swiper-button-prev:after {
  content: "prev" !important;
}

.swiper-button-next1,
.swiper-button-prev1,
.swiper-button-next2,
.swiper-button-prev2,
.swiper-button-next3,
.swiper-button-prev3 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next1,
.swiper-button-next2,
.swiper-button-next3 {
  right: -3rem;
  left: auto;
}

.swiper-button-prev1,
.swiper-button-next1 {
  top: 23%;
}

.swiper-button-prev2,
.swiper-button-next2 {
  top: 55.5%;
}

.swiper-button-prev3,
.swiper-button-next3 {
  top: 88%;
}

.swiper-button-prev1,
.swiper-button-prev2,
.swiper-button-prev3 {
  left: -3rem;
  right: auto;
}

.swiper-button-next1.swiper-button-disabled,
.swiper-button-prev1.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled,
.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next3.swiper-button-disabled,
.swiper-button-prev3.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper1,
.swiper2,
.swiper3,
.swiper {
  margin-top: -3.2rem;
  margin-bottom: 2.4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.tertiary-subheading {
  font-size: 2rem;
  color: #444;
  font-weight: 500;
}
